body {
	background-color: #fff;
}

h1 {
	color: #E87902;
	text-align: center;
	font-size: 70px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: black;
}

p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	text-align: center;
	color: #E87902;
}

div {
	display: inline-block;
	background: black;
}

div p {
	padding-top: 33%;
	font-size: 20px;
}

.hilsen {
	display: block;

}

.hilsen p {
	margin: 5px;
	padding: 5px;
}

.question p {
    margin:5px;
    padding:5px;
}

.uddannelse p {
	margin: 5px;
	padding: 5px;
}

.valg p {
    margin:5px;
    padding:5px;
}

.telefon p {
    margin:5px;
    padding:5px;
}

.blue {
  	height: 300px;
  	width: 300px;
  	border-radius: 50%;
  		vertical-align: middle;

}

.blue p {
	color: #000fff;
}

.green {
 	height: 300px;
  	width: 300px;
  	border-radius: 50%;
  /* line-height: 0; */
  	vertical-align: middle;

}

.green p { 
	color: #00ff00;

}

.red {
	height: 300px;
  	width: 300px;
  	border-radius: 50%;
  	vertical-align: middle;
}

.red p {
	color: #ff0000;
}